@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root,
body {
  height: 100vh;
  background-color: #f0f2f5;
}
